<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vince.demo.customdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 在SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问Camera权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".crash_handler.MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".demo_aidl.AidlActivity"
            android:label="@string/title_activity_aidl" />

        <service
            android:name=".demo_aidl.ControlMusicService"
            android:process=":remote">
            <intent-filter>

                <!-- AIDL完整路径名。必须指明，客户端能够通过AIDL类名查找到它的实现类 -->
                <action android:name="com.vince.demo.customdemo.demo_aidl.ControlMusicService" />
            </intent-filter>
        </service>

        <activity android:name=".marqueeTextView.MarqueeTextViewActivity" />
        <activity
            android:name=".loading.LoadingActivity"
            android:label="@string/title_activity_loading" />
        <activity android:name=".loading.MainActivity" />
        <activity
            android:name=".net_set.NetworkSettingActivity"
            android:label="@string/title_activity_network_setting" />
        <activity
            android:name=".acquisition_configuration.AcquisitionConfiguration"
            android:label="@string/title_activity_acquisition_configuration" />
        <activity
            android:name=".tooltip.TooltipActivity"
            android:label="@string/title_activity_tooltip" />
        <activity android:name=".radiogroup.MainActivity" />
        <activity android:name=".webview_html.WebViewActivity" />
        <activity android:name=".crash_handler.CrashReportActivity" />
        <activity android:name=".version_update.VersionUpdateActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".http.activity.GetAPictureFromInternetActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".http.activity.WebCodeViewerActivity"
            android:label="@string/app_name" />
        <activity android:name=".http.activity.GetXMLActivity" />
        <activity android:name=".http.activity.UploadUserInfoActivity" />
        <activity android:name=".viewfipper.ViewFlipperActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".viewpager.ViewPagerOthersActivity" />
        <activity android:name=".textureview.TextureViewActivity" />
        <activity android:name=".controls.ExpandTextViewActivity"></activity>
        <activity android:name=".controls.ExpandEditTextActivity"></activity>
        <activity android:name=".custom_videoview.CustomVideoViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>